<h1>Nutrition Value</h1>
<p>Showing the nutrition information for <%= @passed_in %></p>
<table border="2">
  <tr>
    <th>Component</th>
    <th>Content (%)</th>
  </tr>
  <tr>
    <td>Carbohydrates</td>
    <td><%= @numbers_0 %></td>
  </tr>
  <tr>
    <td>Fat</td>
    <td><%= @numbers_1 %></td>
  </tr>
  <tr>
    <td>Sugar</td>
    <td><%= @numbers_2 %></td>
  </tr>
  <tr>
    <td>Protein</td>
    <td><%= @numbers_3 %></td>
  </tr>
</table>

<%= @numbers %>
